nav {
    max-width: 1300px;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;
}

nav img {
    width: 50px;
    height: 50px;
    padding-top: 20px;
} 

nav h2{
    font-weight: bolder;
    padding-top: 12px;
    padding-left: 20px;
}

nav a {
    text-decoration: none;
    color: #a2a2a2;
}

nav a:hover {
    color:#ff4500;
    font-weight: bold;
}

nav button {
    margin-left: 60%;
    padding: 20px 0px;
    border: 2px solid black;
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.logo-section{
    display:flex;
}

.links{
    padding-top: 12px;
}

.home{
    color: #ff4500;
    font-weight: bold;
    margin-left: -50px;
    padding-right: 70px;
}

.about{
    padding-right: 70px;
}

.features{
    padding-right: 60px;
}



